/*Style Sheet for Rock Paper Scissors page */
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    text-align: center;
    margin-bottom: 40px;
}

.playable-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.playable-buttons input {
    width: 100px;
    height: 100px;
    border: 2px solid black;
}

.displays {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.result {
    margin-bottom: 10px;
}

.scoreboard {
    display: flex;
    justify-content: center;
    gap: 150px;
}

.scorecard {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Iceland', cursive;
    font-size: 24px;
}

#playerScore,
#computerScore {
    font-size: 60px;
}

.hide {
    display: none;
}

#reset-button {
    text-align: center;
}

.selections {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 50px;
}

#playerSelection,
#computerSelection {
    height: 150px;
    width: 150px;
}